absl-py
alembic
aniso8601
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
async-timeout
attrs
Babel
backcall
bcrypt
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
Cython
debugpy
decorator
defusedxml
Deprecated
dlib
dnspython
docopt
executing
face-recognition
face-recognition-models
fastjsonschema
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Limiter
Flask-Login
Flask-Mail
Flask-Migrate
Flask-PyMongo
flask-redis
Flask-RESTful
Flask-Script
Flask-SQLAlchemy
Flask-WTF
flatbuffers
fonttools
fqdn
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
gunicorn
h11
h5py
httpcore
httpx
idna
importlib_resources
ipykernel
ipython
isoduration
itsdangerous
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
keyboard
kiwisolver
libclang
limits
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
mistune
ml-dtypes
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook_shim
numpy
oauthlib
opencv-contrib-python
opencv-python
opt-einsum
ordered-set
outcome
overrides
packaging
pandocfilters
parso
pickleshare
Pillow
pipreqs
platformdirs
proglog
prometheus_client
prompt_toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
pycparser
Pygments
PyJWT
pymongo
pynput
pyparsing
PySocks
python-dateutil
python-json-logger
python-telegram-bot
pytz
pywinpty
PyYAML
pyzmq
QtPy
redis
referencing
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
scipy
selenium
Send2Trash
simplejson
six
sniffio
sortedcontainers
sounddevice
soupsieve
SQLAlchemy
stack-data
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
tinycss2
torch
torchvision
tornado
tqdm
traitlets
trio
trio-websocket
txt2tags
types-python-dateutil
typing_extensions
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wincertstore
wrapt
wsproto
WTForms
yarg
