body {
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: -webkit-linear-gradient(bottom, #2dbd6e, #a6f77b);
    background-repeat: no-repeat;
    margin: 0;
}

.card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
}

h1 {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}

.underline-title {
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 250px;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    color: red;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.validation-message ul li{
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}


input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #4CAF50;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}