<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
  <!-- Navigation
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Your Meeting Platform</a>
    </div>
  </nav> -->

  <!-- Header Section -->
  <div class="container-fluid">
    <header>
        <div class="container-fluid">
              <h1>Welcome to FaceMeet</h1>
              <p class="fw-bold">Connect, collaborate, and communicate securely.</p>
            </div>
            <div class="button-container">
              <a class="btn btn-primary btn-lg" href="{{url_for('lobby')}}">Join Meeting</a>
              <a class="btn btn-success btn-lg ml-3" href="{{url_for('lobby')}}">Host Meeting</a>
        </div>
    </header>
  </div>

  <!-- Bootstrap JS and dependencies (popper.js, jQuery) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
